[Unit]
Description=Run WZI Historical Dashboard Exporter Every 5 Minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=wzi-historical-export.service

[Install]
WantedBy=timers.target
